h4
{
	color: purple;
	text-decoration: underline;	
	
}

p
{
	word-spacing: 5px;
	line-height: 1.8;
	text-indent: 50px;
	text-transform: capitalize;
	color:rgb(255,0,0);
	
}

strong 
{
	color: blue;
	text-transform: uppercase;
	text-decoration: line-through;z
	
}@CHARSET "ISO-8859-1";